<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>>
    <title>vue-hello</title>
</head>
<body>

    <div id="saluto">
        <p>
            {{saluto}}
        </p>
        <h1>
            {{message}}
        </h1>
        <!-- sovrascrivi il contenuto di h1 message con v-model=message, per collegare un imput ad un dato -->
        <!-- collega label al suo input tramite ID con for="" -->
        <label for="user-name">scrivi il tuo nome</label>
        <input id="user-name" type="text" v-model="message">
        <img src="" alt="">
    </div>

    <script src="./js/script.js"></script>
</body>
</html>